.logo-div{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2em 0 0;
}

body{
  background-color: #F7F7F3;
}

h2{
  text-align: center;
  padding: 2em 0 0;
  
}

form label{
  display: block;
  font-size:20px;
  margin-bottom:10px;
  padding:3em 0 0;
}

.input-padrao{
  display: block;
  margin-bottom:25px;
  padding:10px 15px;
  width: 30%;
}

.form{
  margin: 5px;
}